body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #000;
  color: white;
}

header {
  text-align: center;
}

.hero-image {
  background-image: url('img/logoFondo.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 8px #1451c1;
}

nav {
  background: #111;
  padding: 0.8rem;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #d41c1c;
}

.turnos {
  padding: 2rem;
  background: #111;
  text-align: center;
}

.turnos h2 {
  color: #1451c1;
}

.turnos form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

.turnos input, .turnos button {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #222;
  color: white;
}

.turnos button {
  background: #d41c1c;
  border: none;
  cursor: pointer;
}




.productos {
  padding: 2rem;
  background: #000;
}

.productos h2 {
  text-align: center;
  color: #1451c1;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.producto {
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
  height: 160px;
  object-fit: cover;
}

.producto button {
  margin-top: 1rem;
  background: #1451c1;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* estilos para el interfaz del registro */

